.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a minimum height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.111), rgba(0, 0, 0, 0.341)), url('../../../assets/img/others/contact.jpeg');

    display: flex;
    justify-content: center;
    align-items: center;
}


.parallax p{
    color: #ffffff;
}


.contact-the-jewel-club{
    padding: 70px 0;
}
.left-half{
    padding:40px;
}
.right-half{
    border-left: 1px solid rgba(149, 147, 147, 0.386);
    padding:40px;
}


.contact-the-jewel-club h5{
    font-style: italic;
    font-weight: 700;
}


a{
    text-decoration: none;
    font-size: 18px;
    color: #000000 !important;
}
a:hover{
    color: rgb(16, 103, 170) !important;
}


.height-banner{
    height: 300px;
}

@media only screen and (max-width: 767px) {
    .height-banner{
        height: 200px;
    }
    
}