<section class="join-the-jewel-club">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="first-gap">
                 
                    <h2><span id="the_goblick_dark">Design Your </span><span id="century_gothic_dark">Perfect</span> <span id="the_goblick_dark"> Peice, </span> <span id="century_gothic_dark">Today!</span></h2>
                </div>
                <div class="second-gap">
                  <p>Make your dream jewelry come true with The Jewel Club. Enjoy designing custom pieces perfect for your style and size, made with great materials at affordable prices. Start now and have fun creating your own jewelry!</p>
                  <a href="" class="btn btn-dark col-lg-5 col-md-6 col-sm-10 col-11 mt-4">Join the Jewel Club</a>
                </div>
            </div>
        </div>
    </div>
</section>