<section>
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 mt-5 quick-links">
      <div class="col-lg-4 col-md-12  mb-5 mb-lg-0">
        <div class="logo my-auto d-flex align-items-center justify-content-start  justify-content-md-center ">
          <a href="/">
            <img alt="Logo" width="300"
                        src="../../../assets/img/logo/logo_real.svg">
          </a>
        

        </div>
      </div>



      <div class="col-lg-3 col-md-4 mb-4 ">
        <h5 class="mb-4">Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#about-us" class="nav-link p-0 text-body-secondary">About Us</a></li>
          <li class="nav-item mb-2"><a href="#how-it-works" class="nav-link p-0 text-body-secondary">How it works</a></li>
          <li class="nav-item mb-2"><a href="#become-a-host" class="nav-link p-0 text-body-secondary">Become a Host</a></li>
          <li class="nav-item mb-2"><a href="connect-with-an-ambassador" class="nav-link p-0 text-body-secondary">Find an ambassador near you</a>
          </li>
          <li class="nav-item mb-2"><a href="#find-a-ambassador-near-you" class="nav-link p-0 text-body-secondary">Become a sales consultant</a>
          </li>
          <li class="nav-item mb-2"><a href="contact" class="nav-link p-0 text-body-secondary">Connect</a></li>
          <li class="nav-item mb-2"><a href="faqs" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="gallery" class="nav-link p-0 text-body-secondary">Gallery</a></li>

        </ul>
      </div>

      <div class="col-lg-3 col-md-4 mb-3 mb-lg-0">
        <!-- <h5 class="mb-4">Company Details</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">The Jewel Club</a></li>
          <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Queens' Road Central Hong Kong
              Hong Kong S.A.R</a></li> -->
          <li class="nav-item mb-2"><a href="mailto:contact@thejewel.club"
              class="nav-link p-0 text-body-secondary">contact&#x40;thejewel.club</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4  mb-3 mb-lg-0">
        <h5 class="mb-4">Social Links</h5>
        <div class="social-container">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/thejewelclub1" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/thejewelclub1/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href=" https://www.youtube.com/@TheJewelClub1" target="_blank"><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center  py-3 my-4 border-top legal">
      <p class="col-md-6 mb-0 ">© 2024 The Jewel Club. All rights reserved</p>


      <ul class="nav col-md-6  justify-content-end">
        <li class="nav-item"><a href="cookie-policy" class="nav-link px-2 text-body-secondary">Cookie Policy</a></li>
        <li class="nav-item"><a href="privacy-policy" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
        <li class="nav-item"><a href="terms-of-use" class="nav-link px-2 text-body-secondary">Terms of Use</a></li>
      </ul>
    </footer>
  </div>
</section>