 .legal p, li, a{
    font-size: 14px !important;
    color: #000000 !important;
}
.nav-link:hover{
    color: rgb(16, 103, 170) !important;
}


.logo ul {
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: none;
}

.logo ul li:first-child {
    font-family: the_goblick;
    color: #000000;
    font-weight: 700;
    font-size: 28px !important;
}

.logo ul li:nth-child(2) {
    font-family: century_gothic;
    color: #000000;
    font-size: 12px !important;
    letter-spacing: 2px;
}

.quick-links h5 {
    font-size: 18px ;
    font-weight: 700;
    font-style: italic;
}

.social-icons {
    padding-left: 0px !important;
}

.social-icons li {
    display: inline-block;
   margin-left:10px ;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #000000;
    position: absolute;
    top: 11px;
    left: 12px;
    transition: all 265ms ease-out;
    font-size: 18px;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    transition: all 265ms ease-out;
    border: 1px solid black;
}

.social-icons a:hover:before {
    background: linear-gradient(45deg, #181818, #0b0b0b);
}

.social-icons a:hover i {
color: #ffffff;
}

@media screen and (max-width: 480px) {
    .icons ul {
        padding-left: 0rem;
    }
}