.contact-the-jewel-club{
    padding: 90px 0;
}
.left-half{
    padding:40px;
}
.right-half{
    border-left: 1px solid rgba(149, 147, 147, 0.386);
    padding:40px;
}
a{
    text-decoration: none;
}