<app-navbar></app-navbar>

<app-banner [isHeadStylish]='false' headFull="Gallery"
 bannerImage="../../../assets/img/gallery.jpg" ></app-banner>

<div class="gallery">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-10 col-md-12 col-12">
                <!-- <iframe src="https://fe7a88453964415d905c9a7709b0bdc2.elf.site" style="width:100%;height:600px;border:none;"></iframe> -->
<!-- SnapWidget -->
<iframe src="https://snapwidget.com/embed/1060457" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:765px; height:510px"></iframe>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>