<section class="bg-light py-1 translate">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-12 col-12 text-end">
                <div id="google_translate_element"></div>
            </div>
        </div>
    </div>
</section>
<section class="navigation py-lg-0 py-2">
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <div class="logo my-auto d-flex align-items-center justify-content-center ">
                <a href="/">
                    <img alt="Logo" width="60"
                        src="../../../assets/img/logo/logo_rectangle.png"></a>
                    <ul>
                        <li>The Jewel Club</li>
                        <li>Unlock the world of luxury</li>
                    </ul>

            </div>

            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler">
               
                <i aria-hidden="true" class="fa fa-bars fs-1"></i></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse  my-4">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#about-us" class="nav-link px-2 mx-1">
                           About us</a></li>
                    <li class="nav-item"><a href="#how-it-works" class="nav-link px-2 mx-1">
                            How it works</a></li>
                            <li class="nav-item"><a href="#become-a-host" class="nav-link px-2 mx-1">
                                Become a Host</a></li>
                                <li class="nav-item"><a href="#find-a-ambassador-near-you" class="nav-link px-2 mx-1">
                                    Find an ambassador near you</a></li>

                    <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            class="nav-link dropdown-toggle px-2 mx-1">Connect</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu py-3">
                            <li><a href="connect-with-an-ambassador" class="dropdown-item">
                                Connect with an Ambassador</a></li>
                            <li><a href="contact" class="dropdown-item">
                                Contact The Jewel Club</a></li>
                        
                        </ul>
                    </li>
                  
                    <li class="nav-item"><a href="gallery" class="nav-link px-2 mx-1">Gallery</a></li>

            </ul>
            </div>
        </div>
    </nav>

</section>