.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a minimum height */
    background-image: url('../../../assets/img/others/cookie-policy.jpg');

    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax p{
    color: #ffffff;
}

.cookie-policy{
    padding: 70px 0;
}