.working-on-mobile{
    background: rgb(190,197,214);
    background: linear-gradient(90deg, rgba(190,197,214,1) 0%, rgba(188,197,216,1) 100%);
    padding: 90px 0;
}

.working-on-mobile h4 {
    font-size: 24px;
    font-weight: 600;
}

.working-on-mobile p {
    font-size: 18px;
}

.working-on-mobile .second-col {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@media only screen and (max-width: 768px) {
  
    .working-on-mobile .second-col{
        border: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
  
    .working-on-mobile {
       display: none;
    }
  }