<section class="bg-light py-1 translate">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-12 col-12 text-end">
                <div id="google_translate_element"></div>
            </div>
        </div>
    </div>
</section>
<app-navbar></app-navbar>
<app-banner></app-banner>
<app-about-us></app-about-us>
<app-how-it-works></app-how-it-works>
<section class="working-on-mobile">
    <div class="container">
        <div class="row g-4 g-md-0 d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-md-4 col-12 text-center">
                <img src="../../../assets/img/icon/jewel_stories.png" width="60" alt="">
                <div class="mt-4">
                    <h4>Jewel Stories</h4>
                    <p>Explore style and stories with our Brand Ambassador.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 text-center second-col">
                <img src="../../../assets/img/icon/jewel_discovery.png" width="50" alt="">
                <div class="mt-4">
                    <h4>Jewel Discovery</h4>
                    <p>Uncover captivating tales behind our jewels with our Ambassador.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 text-center">
                <img src="../../../assets/img/icon/exclusive_showcase.svg" width="90" alt="">
                <div class="mt-4">
                    <h4>Exclusive showcase</h4>
                    <p>Elevate your look with insider tips from our Ambassador.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-connect-with-ambassador></app-connect-with-ambassador>
<app-what-a-jewel-club-demo></app-what-a-jewel-club-demo>
<app-find-a-consultant-near-you></app-find-a-consultant-near-you>
<app-faqs></app-faqs>
<app-join-the-jewel-club></app-join-the-jewel-club>
<app-footer></app-footer>