.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a minimum height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.111), rgba(0, 0, 0, 0.341)), url('../../../assets/img/others/privacy-policy.jpg');

    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax p{
    color: #ffffff;
}

.privacy-policy{
    padding: 70px 0;
}