<section class="find-a-consultant-near-you" id="find-a-ambassador-near-you">
    <div class="background-image">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="first-gap">
                        <p>Find A Consultant Near You</p>
                        <h2><span id="the_goblick_light">Find a </span><span id="century_gothic_light">Consultant Near
                                You</span></h2>
                        <p>Expert . Knowledgeable . Creative</p>
                    </div>
                    <div class="second-gap">
                        <p>Invite people, have fun and get a hostess gift and offer too!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>