<section class="about-us" id="about-us">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-9 col-md-10 col-12">
                <div class="first-gap">
                    <p>About Us</p>
                    <h2><span id="the_goblick_light">We are a </span><span id="century_gothic_light">Bespoke
                            Jewel</span> <span id="the_goblick_light"> maker</span></h2>
                </div>

                <div class="second-gap">
                    <p>The Jewel Club disrupts the jewelry industry and makes it affordable to all without losing the
                        essentials (quality and materials).</p>
                    <p>Like a tailor who makes suits, shirts and more, we produce bespoke jewels
                        (rings, necklaces, bracelets, earrings and more) tailor made to our clients unique size and
                        requirements for a fraction of the cost.</p>
                    <p>Depending on the type of jewel expertise required, we produce in the USA (LA & NYC), France,
                        India or Hong Kong. Our stones come from all over the world
                        (Africa, Brazil, India, Asia…).</p>
                </div>
                <div class="third-gap my-5">
                    <img src="../../../assets/img/others/chain.webp" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</section>