.about-us{
    position: relative;
    padding: 120px 0;
    background-color: #175C43 ;
}
.about-us .first-gap{
    padding-bottom: 34px;
}
.about-us p{
    font-size: 18px;
    color: #F2F2F2;
}