<app-navbar></app-navbar>
<section class="about-us">
    <div class="container">
        <div class="row d-flex justify-content-center text-center mb-4">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <h1>We are a bespoke jewel maker</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center mt-4">
            <div class="col-lg-9 col-md-12 col-12 fs-4">
                <p>The Jewel Club disrupts the jewelry industry and makes it affordable to all without losing the essentials (quality and materials).
                </p>

                <p>Like a tailor who makes suits, shirts and more, we produce bespoke jewels (rings, necklaces, bracelets, earrings and more)  tailor made to our clients unique size and requirements for a fraction of the cost. 
                </p>
                <p>Depending on the type of jewel expertise required, we produce in the USA (LA & NYC), France, India or Hong Kong.
                    Our stones come from all over the world (Africa, Brazil, India, Asia…).
                    </p>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>