<app-navbar></app-navbar>


<section class="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h3 class="mb-4 text-white">Most Frequently Asked Questions</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div id="accordionFlushExample" class="accordion accordion-flush ng-star-inserted">
                    <div class="accordion-item my-3 border ng-star-inserted">
                        <h2 class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                class="accordion-button collapsed" data-bs-target="#flush-collapse0"
                                aria-controls="flush-collapse0" tp-type="button">
                                Can we change the size if the client is not satisfied with the ring?
                            </button></h2>
                        <div data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse"
                            id="flush-collapse0">
                            <div class="accordion-body">
                                <p>No, this is why we take your size.
                                    Production is done in a way that resizing is impossible. A unique mold is made for
                                    your unique ring.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item my-3 border ng-star-inserted">
                        <h2 class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                class="accordion-button collapsed" data-bs-target="#flush-collapse1"
                                aria-controls="flush-collapse1" tp-type="button">
                                How to purchase jewels from The Jewel Club?
                            </button></h2>
                        <div data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse"
                            id="flush-collapse1">
                            <div class="accordion-body">
                                <ul>
                                    <li>Take your size with one of our ambassadors
                                    </li>
                                    <li>Sketch your desired jewel and you will receive a quote within 48 hours (quote
                                        will be valid for 14 days only - price of gold and gemstones fluctuates daily)
                                    </li>
                                    <li>Confirmation of an order is done
                                    </li>
                                    <li>Delivery 1 or 2 months later (depending on stone availability and complexity)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div id="accordionFlushExample" class="accordion accordion-flush ng-star-inserted">

                    <div class="accordion-item my-3 border ng-star-inserted">
                        <h2 class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                class="accordion-button collapsed" data-bs-target="#flush-collapse2"
                                aria-controls="flush-collapse2" tp-type="button">
                                What is the benefit of buying from The Jewel Club? </button></h2>
                        <div data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse"
                            id="flush-collapse2">
                            <div class="accordion-body">
                                <p>You buy a ring for a fraction of the retail cost.
                                </p>
                                <p>We are a bespoke jewel maker.
                                </p>
                                <p>Like a tailor who makes suits, shirts and more, we produce the same quality (material
                                    and craftsmanship) as luxury brands tailor to our clients unique size and
                                    requirements for a fraction of the cost.
                                </p>
                                <p>ON AVERAGE 10 TO 20 TIMES LESS.</p>
                            </div>
                        </div>
                    </div>


                </div><!----><!---->
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>