<section class="find-a-consultant-near-you">
    <div class="background-image">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="first-gap">
                          
                        <h2><span id="the_goblick_light"> High End </span><span id="century_gothic_light">Jewels</span>
                            <span id="the_goblick_light"> made </span><span id="century_gothic_light">Affordable</span></h2>
                        <p>Handcrafted . Bespoke . Disruptive</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>