.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set a minimum height */
    
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h4{
    color: #fff;
   
}

h1 strong{
    text-shadow: 2px 1px 4px #000;
}
