
<section class="connect-with-ambassador" id="connect-with-an-ambassador">
    <div class="video-container">
        <video autoplay muted playsinline loop controls="false" id="bg-video" #bgVideo>
            <source src="../../../assets/video/connect-with-ambassador.mp4" type="video/mp4">
            <!-- Include additional source elements for other video formats if needed -->
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-8 col-md-10 col-12 d-flex justify-content-center align-items-center text-center">
                <h2><span id="century_gothic_light">Connect </span><span id="the_goblick_light">with an </span> <span id="century_gothic_light">Ambassador</span></h2>
                <a href="connect-with-an-ambassador" class="btn btn-secondary col-lg-5 col-md-6 col-sm-10 col-11 mt-4">Connect with an ambassador</a>
            </div>
        </div>
    </div>
   
</section>



<section class="host-the-jewel-club-demo" id="become-a-host">
    <div class="or-text-container">
        <span class="or-text">OR</span>
    </div>
    <div class="background-image">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-lg-10 col-md-10 col-12">
                    <div class="first-gap">
                        <p>Jewel Club Demo</p>
                        <h2><span id="the_goblick_light">Host a </span><span id="century_gothic_light">The Jewel Club Demo?</span></h2>
                        <p>Exciting  . Meaningful . Captivating</p>
                    </div>
                    <div class="second-gap">
                        <a href="contact" class="btn btn-secondary col-lg-5 col-md-6 col-sm-10 col-11 mt-4">Jewel Club Demo</a>
          
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>