.what-a-jewel-club-demo{
    padding: 90px 0;
}

.what-a-jewel-club-demo p{
}



/* .process
{
    background: url(https://landing.shopilaunch.com/bwstore/images/bg-landing-footer.jpg);
} */


.process {
    padding: 90px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.process:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s ease 0s;
}

.process ul li{
 list-style-type: none;
}

.unique-1{
background-color: #cccec2;   
}
.unique-1 .right{
    padding: 0 !important;
}