<section class="whats-a-jewel-club-demo">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="first-gap">
                    <h2><span id="the_goblick_light"> What’s a</span><span id="century_gothic_light"> Jewel Club
                            demo?</span></h2>
                </div>
                <div class="second-gap">
                    <p>Partner with a The Jewel Club Ambassador for a time of style and storytelling. <br />
                        We promise to make it exciting and captivating.</p>
                    <p>As a thank you, The Jewel Club is offering complimentary
                        treats and discounts for you.!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="side-by-side">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center text-center ">
            <div class="col-lg-6 col-md-6 col-12 first-section d-flex justify-content-center align-items-center">
                <div class="first-gap">

                    <h2><span id="the_goblick_light">In Home </span><span id="century_gothic_light"> Demos </span><span
                            id="the_goblick_light">with </span><br>
                        <span id="century_gothic_light"> Your friends & Family</span>
                    </h2>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 second-section  d-flex justify-content-center align-items-center">
                <div class="first-gap">

                    <h2><span id="the_goblick_light">Community </span><span id="century_gothic_light"> Demos</span><span
                            id="the_goblick_light">at work, in </span>
                        <span id="century_gothic_light"> Collaboration</span>
                        <span id="the_goblick_light">with a </span>
                        <span id="century_gothic_light"> Local business </span>
                        <span id="the_goblick_light">or at </span>
                        <span id="century_gothic_light"> Vendor fairs</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="details-ambassador">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p>A passionate ambassador presents jewels we produced and
                    provides an idea of pricing</p>

                <div class="row d-flex justify-content-center bullet_points">

                    <div class="col-lg-3 col-md-6 col-12">
                        <p>✦ Ring size of each finger</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p>✦ Bracelet length</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p>✦ Preferred necklace length</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <p>✦ Preferred Stones and sizes</p>
                    </div>
                </div>


                <p>You and the ambassador come up with a few design ideas as well as qualities required. <br />Within 48
                    hours, a pricing will be sent to you.</p>
                <p>Since Gold and stone prices vary everyday, quotes are valid for 14 days</p>
            </div>
        </div>
    </div>
</section>