<section class="faqs">
    <div class="background-image">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-lg-10 col-md-12 col-12">
                    <div class="first-gap text-center">
                        <h2><span id="century_gothic_dark">FAQ's</span></h2>
                        <p class="mt-3">Your questions answered: Comprehensive insights into simplified
                            the Jewel Club</p>
                    </div>
                    <div class="second-gap">
                        <div class="row  mt-5">
                            <div class="col-lg-12 col-md-12 col-12"> 
                                <div id="accordionFlushExample" class="accordion accordion-flush">
                                    <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
                                        <div class="mt-1 mb-3">
                                         
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                                        [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" aria-controls="flush-collapse0">
                                                  {{ faq.Question }}
                                                </button>
                                              </div>
                                              <div [id]="'flush-collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + i"
                                                   data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                  {{ faq.Answer }}
                                                </div>
                                              </div>
                                        </div>
                                     
                                    </div>
                                  </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>