
<app-banner id="how-it-works" [isHeadStylish]='false' bannerImage="../../../assets/img/how-it-works-banner.jpg" headFull="Partner with a The Jewel Club Brand Ambassador for a time of style and storytelling" subhead="We promise to make it exciting and captivating"></app-banner>

<section class="what-a-jewel-club-demo">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-9 col-md-12 col-12">
               <div class="fs-4">
                <p>As a thank you, The Jewel Club will provide you with complimentary treats and discounts!</p>
               
               </div>
                <a href="connect-with-an-ambassador"  target="_blank" class="btn btn-lg btn-warning mt-4">Connect with an Ambassador</a>
            </div>
        </div>

       
    </div>
</section>
