<section class="how-it-works" id="how-it-works">
    <div class="video-container">
        <video autoplay muted loop id="bg-video" #bgVideo>
            <source src="../../../assets/video/how-it-works.mp4" type="video/mp4">
            <!-- Include additional source elements for other video formats if needed -->
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-10 col-md-12 col-12 d-flex justify-content-center align-items-center text-center">
                <div class="first-gap">
                    <p>How It Works</p>

                    <h2><span id="the_goblick_dark">Partner with a </span><span id="century_gothic_dark">The Jewel
                            Club Brand Ambassador</span>
                        <span id="the_goblick_dark"> for a time of style and storytelling. We promise to make it
                        </span><span id="century_gothic_dark">Exciting and Captivating.</span>
                    </h2>
                    <p>“As a thank you, The Jewel Club will provide you with complimentary treats and discounts!”</p>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center mt-5 second-gap" >
            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center align-items-center">
                <img src="../../../assets/img/icon/jewel_stories.png" width="60" alt="">
               <div class="mt-4">
                <h4>Jewel Stories</h4>
                <p>Explore style and stories with our Brand Ambassador.</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center align-items-center second-col">
                <img src="../../../assets/img/icon/jewel_discovery.png" width="50" alt="">
                <div  class="mt-4">
                 <h4>Jewel Discovery</h4>
                 <p>Uncover captivating tales behind our jewels with our Ambassador.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center align-items-center">
                <img src="../../../assets/img/icon/exclusive_showcase.svg" width="90" alt="">
                <div  class="mt-4">
                 <h4>Exclusive Showcase</h4>
                 <p>Elevate your look with insider tips from our Ambassador.</p>
                </div>
            </div>
        </div>
    </div>

</section>
