
<app-banner id="how-it-works" [isHeadStylish]='false' bannerImage="../../../assets/img/how-it-works-banner.jpg"
    headFull="Partner with a The Jewel Club Brand Ambassador for a time of style and storytelling. We promise to make it exciting and captivating."></app-banner>

<section class="what-a-jewel-club-demo">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-lg-10 col-md-12 col-12">
                <h4 >As a thank you, The Jewel Club will provide you with complimentary treats and discounts!</h4>

                <a href="connect-with-an-ambassador"  class="btn btn-lg btn-secondary mt-4">Connect with an
                    Ambassador</a>
            </div>
        </div>
           <!-- <div class="row d-flex justify-content-center align-items-center text-center mt-5">
                <div class="fs-5">
                    <p>Or</p>
    
                </div>
            </div> -->

    </div>
   
</section>

