
<app-banner id="find-a-ambassador-near-you" [isHeadStylish]='false' bannerImage="../../../assets/img/find-an-ambassador.jpg"
    headFull="Find an Ambassador near you" subhead="Expert  . Knowledgeable  . Creative"></app-banner>

<div class="find-an-ambassador">

    <div class="container">
        <div class="row g-5 d-flex justify-content-center align-items-center">
          
            <div class="col-lg-9 col-md-9 col-12 text-center">
                <p class="fs-4">Invite people, have fun and get a hostess gift and offer too!</p>
                <a href="connect-with-an-ambassador" target="_blank" class="btn btn-lg btn-warning">
                    Connect With An Ambassador</a>
                <a href="contact-the-jewel-club"  target="_blank" class="btn btn-lg btn-outline-warning ms-lg-2 ms-0 my-lg-0 my-2">
                    Contact The Jewel Club</a>
            </div>
        </div>
    </div>
</div>