.terms-of-use{
    padding: 120px 0;
}

ul li{
    list-style-type: none;
}
.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set a minimum height */
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
h1, h4{
    color: #fff;
   
}

h1 strong{
    text-transform: uppercase;
}

h1 {
    background-image: url(
"https://ae01.alicdn.com/kf/HTB1WqjXNpXXXXXLXVXXq6xXFXXX5/Custom-photo-wallpaper-3D-stereoscopic-gold-diamond-pattern-wallpapers-for-living-room-custom-photo-wallpaper-Home.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    font-weight: bold;
    text-transform: uppercase;
    
    -webkit-font-smoothing: antialiased;
}